.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  flex-direction: column;

  .login-title {
    font-size: 24px;
    font-weight: bold;
    line-height: 2;
  }

  .login-tips {
    font-size: 14px;
  }

  .login-input {
    margin: 10px 0;
  }

  .login-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;

    button:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}
